
// product details //
.preview-pic.tab-content {
    justify-content: center;
    text-align: center;
  }
  .preview-pic {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
    }
    
    .preview-thumbnail.nav-tabs {
      border: none;
      margin-top: 15px;
    
      li {
        width: 18%;
        margin-inline-end: 2.5%;
        border-radius: 5px;
        border: 1px solid $default-border;
        padding: 5px;
    
        img {
          max-width: 100%;
          display: block;
        }
    
        a {
          padding: 0;
          margin: 0;
        }
    
        &:last-of-type {
          margin-inline-end: 0;
        }
      }
    }
    
      .tab-content {
        overflow: hidden;
      }
      
      .details {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
      }
  
      
      .product-title, .price, .sizes, .colors {
        text-transform: UPPERCASE;
        font-weight: bold;
      }
      
      .checked, .price span {
        color: #ff9f1a;
      }
      
      .product-title, .rating, .product-description, .price, .vote, .sizes {
        margin-bottom: 15px;
      }
      
      .product-title {
        margin-top: 0;
      }
      
      .size {
      margin-inline-end: 10px;
      
      &:first-of-type {
        margin-inline-start: 40px;
      }
    }
    
    .details .rdiobox span {
      &:after {
        top: 5px;
      }
    
      &:before {
        top: 0px;
      }
    }
    
    .colorinput {
      margin: 0;
      position: relative;
      cursor: pointer;
    }
    
    .colorinput-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    
  .colorinput-color {
    display: inline-block;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 3px;
    border: 1px solid $default-border;
    color: $white;
    
    &:before {
      content: '';
      opacity: 0;
      position: absolute;
      top: .25rem;
      inset-inline-start: .25rem;
      height: 1.25rem;
      width: 1.25rem;
      transition: .3s opacity;
      background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E") no-repeat center (center / 50%) 50%;
    }
  }
  .colorinput-input:checked ~ .colorinput-color:before {
  opacity: 1;
  }
  .item-card {
    .cardtitle {
      span {
      display: block;
      font-size: .75rem;
      }
    
      a {
      color: $default-text-color;
      font-weight: 500;
      text-decoration: none;
      }
    }
    
    .cardprice {
      position: absolute;
      top: 17px;
      inset-inline-end: 15px;
    
      span {
      &.type--strikethrough {
        opacity: .7;
        text-decoration: line-through;
      }
    
      display: block;
      color: $default-text-color;
      }
    }
    
    .relative {
      position: relative;
    }
  }
  .feature2 i {
    line-height: 3rem;
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  
  // product cart //
  
  .product-details .media img {
      width: 60px;
      height: 60px;
      margin-inline-end: 20px;
      border-radius: 5px;
  }
  .card-item-desc .card-item-desc-1 dt, dd {
      display: inline-block;
    }
    
    .card-item-desc {
      .card-item-desc-1 {
        dt {
          font-weight: 500;
          font-size: 13px;
        }
    
        dd {
          font-size: 13px;
          color: $text-muted;
          margin-bottom: 0;
        }
      }
    
      dl {
        margin-bottom: 0;
      }
  }
  .product-details {
    .table thead td, .table thead th {
      font-weight: 700;
      font-size: 11px;
      padding: 5px 15px 5px 15px;
      color: $text-muted;
    }
  }
  .product-cart {
    td .media {
      min-width: 17rem;
    }
  }
  
  // checkout page //
  #shipped-tab-pane {
    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-block-end: 30px;
      border-block-end: 1px solid $default-border;
      margin-block-end: 30px;
      .thumb {
        display: inline-flex;
        width: 100px;
        height: 90px;
        justify-content: center;
        align-items: center;
        border: 0px solid $default-border;
      }
      .left {
        display: flex;
        align-items: center;
      }
      .purchase {
        display: inline-block;
        margin-inline-start: 21px;
      }
    }
  }
  .product-title, .price, .sizes, .colors {
    font-weight: 500;
  }
  .card-pay .tabs-menu li {
    width: 33.3%;
    display: block;
  }
  .card-pay .tabs-menu li a.active {
    background:  $primary;
    color: #ffffff;
  }
  .card-pay .tabs-menu li a {
    padding: 0.7rem 1rem;
    display: block;
    text-align: center;
  }
  .card-pay .tabs-menu.nav {
    background: $light;
  }
  .card-pay .tabs-menu {
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
  }
  @media (max-width:1350px) {
    .cards-pay .tabs-menu {
      display: block;
    }
    .card-pay .tabs-menu li {
      width: 100% !important;
      border-block-end: 1px solid $default-border;
    }
  }