
// authentication pages //
.main-signin-wrapper {
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: 480px) {
    .main-card-signin {
        border: 1px solid $default-border;
        padding: 0;
        max-width: 750px;
        box-shadow: $card-shadow;
    }
  }
  @media (max-width: 479.99px)  {
    .main-card-signin {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        background-color: $custom-white;
        position: relative;
        box-shadow: $card-shadow;
    }
  }
  .page-signin-style {
    height: auto;
    background: url(../images/media/media-68.jpg);
    left: 0;
    top: 0;
    bottom: 0;
    position: relative;
  }
  .page-signin-style:before {
    content: "";
    background: linear-gradient(135deg, rgba(67, 95, 224, 0.9) 0%, rgba(128, 57, 202, 0.9) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    inset-inline-start: 0;
    top: 0;
  }
  .authentication-pages {
    position: relative;
    z-index: 99;
  }
  .main-signin-header h2 {
    font-weight: 500;
    color: $primary;
    letter-spacing: -1px;
  }
  .main-signin-header h4 {
    font-weight: 500;
    margin-bottom: 25px;
    font-size: 16px;
  }
  .btn-main-primary {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
    &:hover {
      color: #fff;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .main-signin-footer a {
    font-weight: 700;
  }
  .main-signin-footer p:first-child {
    margin-bottom: 5px;
  }
  .main-signin-footer p:last-child {
    margin-bottom: 0;
  }
  .main-signin-header .form-control {
    font-weight: 500;
    border-width: 2px;
    border: 1px solid $default-border;
  }
  @media (min-width: 480px) {
    .sign-up-body {
        padding: 2.6rem !important;
    }
  }
  .main-signup-footer a {
    font-weight: 700;
  }
  .under-maintenance-time {
    background-color: $primary;
    text-align: center;
    color: #fff;
  }
  #timer {
    .clock-presenter {
        padding: 0px;
        text-align: center;
        width: 70px;
        height: 70px;
        float: left;
        margin: 0 20px 0 0;
        background: url(../images/photos/12.jpg);
        border-radius: 3px;
        background-size: cover;
        position: relative;
      }
      .clock-presenter:before {
        content: "";
        position: absolute;
        background: linear-gradient(135deg, var(--primary09) 0%, rgba(128, 57, 202, 0.9) 100%);
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        display: block;
        border-radius: 3px;
      }
      .clock-presenter .digit {
        margin-top: 5px;
        font-size: 1.5rem;
        color: #fff;
        line-height: 25px;
        display: inline-block;
        overflow: hidden;
        text-align: center;
        position: relative;
        cursor: default;
        font-weight: 600;
        border-radius: 3px;
      }
  }
  .construction .btn.btn-icon {
    border: 1px solid $default-border;
    text-align: center;
    padding: 0;
    background: 0 0;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.9);
    margin: 0 5px;
    border-radius: 3px;
    .btn-icon i {
      line-height: 0;
      font-size: 1.2rem;
      text-align: center;
    }
    .tx-facebook {
      color: #3b5998;
    }
    .tx-google-plus {
      color: #d34836;
    }
    .tx-twitter {
      color: #429cd6;
    }
    .tx-pinterest {
      color: #cd2029;
    }
  }