/* Start::app-header */
.app-header {
  max-width: 100%;
  height: 4.375rem;
  z-index: 100;
  position: fixed;
  inset-block-start: 0;
  inset-inline: 0;
  background: $header-bg;
  border-block-end: 1px solid $header-border-color;
  transition: all 0.1s ease;
  box-shadow: 5px 7px 26px -5px #bebdcc;

  #mainHeaderProfile {
    color: $header-prime-color;
  }
}

@media (min-width: 992px) {
  .app-header {
    padding-inline-start: 15rem;
  }
}

.header-icon-badge {
  position: absolute;
  padding: 0.15rem 0.25rem;
  inset-block-start: 0.875rem;
  inset-inline-end: 0.5rem;
  font-size: 0.625rem;
}

.related-app {
  text-align: center;
  border-radius: $default-radius;
  border: 1px solid $default-border;

  &:hover {
    background-color: $light;
  }
}

.header-profile-dropdown {
  min-width: 11rem;
}

/* End::app-header */

/* Start::main-header-container */
.main-header-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100%;

  .header-content-left,
  .header-content-right {
    display: flex;
    align-items: stretch;
  }

  .header-element {
    display: flex;
    align-items: stretch;
  }

  .header-link {
    display: flex;
    align-items: center;
    padding: 1rem 0.65rem;

    &:hover,
    &.show {
      .header-link-icon {
        fill: $header-prime-color;
        color: $header-prime-color;
      }
    }
  }

  .header-link-icon {
    width: 1.75rem;
    // height: 1.75rem;
    font-size: 1.125rem !important;
    color: $header-prime-color;
    fill: $header-prime-color;
    transition: all ease 0.05s;
    position: relative;
    padding: 0.25rem;
    border-radius: 50%;

    &:hover {
      background-color: $light;
    }
  }

  .dropdown-toggle {
    text-decoration: none;

    &::after {
      content: none;
    }
  }

  .main-profile-user {
    .dropdown-menu {
      width: 13rem;
    }

    .dropdown-item {
      font-weight: 400;
      font-size: 0.813rem;
      color: $default-text-color;
      padding: 1.25rem 1rem;
      height: 2.375rem;
      display: flex;
      align-items: center;

      &:hover {
        color: $primary;

        i {
          color: $primary;
          opacity: 1;
        }
      }
    }
  }

  .main-header-dropdown {
    box-shadow: 0 0.25rem 0.625rem rgba(20, 20, 20, 0.1);
    inset-block-start: -3px !important;
    &.header-shortcuts-dropdown {
      width: 22rem;
    }
    .dropdown-item {
      padding: 0.65rem;
      border-block-end: 1px solid $default-border;
      &:last-child {
        border-block-end: 0;
      }
    }
  }

  .cart-dropdown .main-header-dropdown {
    width: 18.75rem;
  }

  .notifications-dropdown .main-header-dropdown {
    width: 18.75rem;
  }

  .profile-dropdown .main-header-dropdown {
    width: 15.313rem;
  }

  .header-messages-dropdown .main-header-dropdown {
    width: 18.75rem;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }

  100% {
    opacity: 1;
  }

  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
}

[dir='rtl'] {
  .sidemenu-toggle {
    .open-toggle {
      transform: rotate(180deg);
    }
  }
}

/* End::main-header-container */

/* Start::Header-dropdown */
.header-product-item {
  padding-inline-start: 0;
  display: flex;

  li {
    position: relative;
    list-style-type: none;
    font-size: 0.75rem;
    font-weight: 400;
    color: $text-muted;
    padding-inline-end: 0.938rem;
  }

  li:nth-child(2),
  li:nth-child(3),
  li:nth-child(4) {
    &:before {
      position: absolute;
      content: '';
      inset-inline-start: -0.438rem;
      width: 1px;
      inset-block-start: 0.25rem;
      height: 0.625rem;
      background-color: $text-muted;
      opacity: 0.1;
    }
  }
}

.header-cart-remove {
  i {
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-size: 0.85rem;
    margin-inline-start: 0.75rem;
    color: $danger;
  }

  &:hover {
    i {
      background-color: rgba(var(--danger-rgb), 0.1);
    }
  }
}

/* End::Header-dropdown */

/* Start::header-search */
#searchModal {
  .form-control {
    position: relative;
  }

  .input-group {
    border: 2px solid $primary;
    border-radius: 0.25rem;

    i {
      color: $text-muted;
    }
  }
}

.search-tags {
  font-size: 0.75rem;
  color: $default-text-color;
  border: 1px solid $default-border;
  border-radius: 0.25rem;
  background-color: $light;
  padding: 0.125rem 0.55rem;
  line-height: 1.2rem;
  display: inline-flex;
  align-items: center;
  cursor: default;
  font-weight: 400;
  margin: 0.25rem 0;

  .tag-addon:last-child {
    border-radius: $default-radius;
  }

  a.tag-addon {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 0 0.5rem;
    color: inherit;
    text-decoration: none;
    background: $light;
    margin-inline-end: -0.4rem;
    margin-inline-start: 0.5rem;
    text-align: center;
    min-width: 1.5rem;

    i {
      vertical-align: middle;
      margin: 0 -0.25rem;
      line-height: 1.5px;
      font-size: 0.813rem;
    }
  }

  i {
    font-size: 0.813rem;
  }
}

/* End::header-search */

/* Start::header-country-selector */
.country-selector {
  .header-link img {
    width: 1.75rem;
    height: 1.75rem;
  }

  .dropdown-menu {
    img {
      width: 1rem;
      height: 1rem;
    }
  }
}

/* End::header-country-selector */

/* Start:header dropdowns scroll */
#header-messages-scroll,
#header-notification-scroll,
#header-cart-items-scroll {
  max-height: 20rem;
}

/* End:header dropdowns scroll */

/* Start::header badge pulse */
.pulse {
  display: block;
  cursor: pointer;
  animation: pulse-secondary 2s infinite;

  &.pulse-secondary {
    box-shadow: 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }
}

@-webkit-keyframes pulse-secondary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
  }
}

@keyframes pulse-secondary {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
    box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
    box-shadow: 0 0 0 10px rgba(var(--secondary-rgb), 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
    box-shadow: 0 0 0 0 rgba(var(--secondary-rgb), 0);
  }
}

/* End::header badge pulse */

/* Start::Header theme-mode icon style */
[data-theme-mode='light'] {
  .layout-setting .dark-layout {
    display: none;
  }

  .layout-setting .light-layout {
    display: block;
  }
}

.layout-setting .dark-layout {
  display: none;
}

.layout-setting .light-layout {
  display: block;
}

[data-theme-mode='dark'] {
  .layout-setting .light-layout {
    display: none;
  }

  .layout-setting .dark-layout {
    display: block;
  }
}

/* End::Header theme-mode icon style */

/* Start::Header fullscreen responsive */
@media (max-width: 767.98px) {
  .header-element.header-fullscreen {
    display: none;
  }
}

/* End::Header fullscreen responsive */

/* Start::Responsive header dropdowns */
@media (max-width: 575.98px) {
  .app-header {
    .dropdown-menu {
      width: 100%;
    }
  }
}

/* End::Responsive header dropdowns */

/* Start::toggle */
.animated-arrow.hor-toggle {
  text-align: center;
  width: 2rem;
  font-size: 1.2rem;
  position: relative;
  margin: 0.3125rem 0;
  margin-inline-end: 0.625rem;
}

.animated-arrow {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  z-index: 102;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.05s ease-in-out;
  cursor: pointer;
  padding: 0.3125rem;
  margin-block-start: 0.375rem;
  margin-block-end: 0;
  margin-inline-start: 0.5rem;
  margin-inline-end: 0;
}

.animated-arrow.hor-toggle span {
  vertical-align: middle;
}

.animated-arrow span {
  cursor: pointer;
  height: 0.125rem;
  width: 0.75rem;
  background: $header-prime-color;
  position: absolute;
  display: block;
  content: '';
  transition: all 0.05s ease-in-out;
}

.animated-arrow span:before,
.animated-arrow span:after {
  transition: all 0.05s ease-in-out;
}

.animated-arrow span:before {
  inset-block-start: -0.375rem;
  width: 1.4375rem;
}

.animated-arrow span:after {
  bottom: -0.375rem;
  width: 15px;
}

.animated-arrow span:before,
.animated-arrow span:after {
  cursor: pointer;
  height: 0.125rem;
  width: 1.0625rem;
  background: $header-prime-color;
  position: absolute;
  display: block;
  content: '';
}

[data-toggled='icon-overlay-close'],
[data-toggled='close-menu-close'],
[data-toggled='icon-text-close'],
[data-toggled='detached-close'],
[data-toggled='menu-click-closed'],
[data-toggled='menu-hover-closed'],
[data-toggled='icon-click-closed'],
[data-toggled='icon-hover-closed'] {
  .animated-arrow span {
    background-color: transparent;
    background: none !important;
  }

  .animated-arrow span:before {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 0px;
  }

  .animated-arrow span:before {
    inset-block-start: -1px;
  }

  .animated-arrow span:after {
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .animated-arrow span:after {
    width: 1.0625rem;
    inset-block-start: -1px;
  }
}

/* End::toggle */

/* Start::header notification dropdown */
.header-notification-text {
  max-width: 14.5rem;
}
/* Start::header notification dropdown */

.main-header-center {
  margin: 0;
  position: relative;
}
.main-header-center {
  flex: 1;
  margin: 0 50px;
  position: relative;
  display: none;
}
@media (min-width: 1401px) {
  .main-header-center .form-control {
    width: 500px;
  }
}

.main-header-center .form-control {
  border: 2px solid $header-border-color;
  border-width: 1px;
  background-color: $header-bg;
  transition: none;
  height: 41px;
  color: $header-prime-color;
}
[type='search'] {
  outline-offset: -2px;
}
.main-header-center .btn {
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  background-color: transparent;
  height: 40px;
  color: #b4bdce;
  transition: none;
  font-size: 16px;
  padding-inline-end: 13px;
}

// Custom styles //
.pulse-danger {
  display: block;
  position: absolute;
  top: 1.313rem;
  inset-inline-end: 0.9rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #ff5959;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(34, 192, 60, 0.9);
  animation: pulse-danger 2s infinite;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes pulse-danger {
  0% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0.9);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(220, 53, 69, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(220, 53, 69, 0);
  }
}
.pulse {
  display: block;
  position: absolute;
  top: 1.313rem;
  inset-inline-end: 1rem;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #08c18d;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(34, 192, 60, 0.9);
  animation: pulse 2s infinite;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.9);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0.7);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
    box-shadow: 0 0 0 10px rgba(34, 192, 60, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
    box-shadow: 0 0 0 0 rgba(34, 192, 60, 0);
  }
}
#rightsidebar-canvas {
  width: 300px;
  .tabs-menu {
    margin-top: 25px;
    padding: 10px;
  }
  .tabs-menu ul li a {
    padding: 9px 14px 9px 14px;
  }
  .tabs-menu ul li .active {
    background: $primary;
    color: #fff;
    border-radius: 3px;
  }
  .img_cont img {
    height: 50px;
    width: 50px;
  }
  ::-webkit-scrollbar {
    width: 1px;
  }
  .tab-pane {
    border: 0;
    padding: 0;
  }
  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.8rem 1.8rem;
    clear: both;
    font-weight: 400;
    color: $default-text-color;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
  }
  .dropdown-icon {
    font-size: 20px;
  }
  .chat .contacts li {
    width: 100%;
    padding: 13px 15px;
    border-bottom: 1px solid $default-border;
    list-style-type: none;
  }
  .user_info {
    margin-inline-start: 1rem;
    h5 {
      font-size: 15px;
    }
    small {
      font-size: 13px;
    }
  }
}
.main-header-center {
  input[type='search' i]::-webkit-search-cancel-button {
    display: none !important;
  }
  .form-control::-webkit-input-placeholder {
    color: $header-prime-color;
    opacity: 0.8;
  }
}
